/*  Styles for the Off-Canvas menu
	displayed on small screens 		*/

@mixin MenuWidth($value) {
	body.menu-open #Page-Canvas {left: $value * -1;}
	#Off-Canvas-Menu {width: $value}
}
$MenuPadding: 5px 20px;

#Page-Canvas {
	position: relative;
	z-index: 2;
	top: 0px;
	left: 0px;
	width: 100%;
	min-height: 100%;

	background-color: #ffffff;
	-webkit-transition: left 500ms ease-out;
	-moz-transition: left 500ms ease-out;
	-o-transition: left 500ms ease-out;
	-ms-transition: left  500ms ease-out;
	transition: left 500ms ease-out;
	-webkit-box-shadow: 3px 0px 10px 0px #000;
	-moz-box-shadow:    3px 0px 10px 0px #000;
	box-shadow:         3px 0px 10px 0px #000;
}

#Off-Canvas-Menu {
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background: $MenuBackground;
	color: #ffffff;
	padding: 0px;
	z-index: 1;

	.menu-header {
		background: $MenuHeaderBackground;
		padding: 10px 20px;
		margin: 0;
		font-size: 1.4rem;
		text-shadow: 1px 1px 1px $MenuBackground;
	}

	ul {
		margin: 0;
		font-size: 1.2rem;

		li a {
				text-shadow: 1px 1px 1px #3d3d3d;
				color: $ActionColor;
				text-decoration: none !important;
				&:visited {color: $ActionColor;}
				&:hover {color: $MenuHoverColor;}
		}

		&:not(.list-inline) li {
			border-bottom: 1px solid $MenuHeaderBackground;
			padding: $MenuPadding;

			a {
				display: block;
				width: 100%;
				height: 100%;
				font-weight: 700;
			}

			&:hover {
				background-color: $ActionColor;
				a {color: $MenuHoverColor !important;}
			}
		}

		&.list-inline {
			padding: $MenuPadding;
			text-align: justify;

			li {
				a {
					font-size: 1rem;

					&:hover {
						background-color: $ActionColor;
					}
				}
			}
		}
	}
}

@include MenuWidth(75%);
@media (min-width: 768px) {
	@include MenuWidth(20%);

}
