
/* GENERAL POST STYLES */
/* Styles for all posts, list AND single */
.post {
	margin-bottom: 2rem;

	.post-title,
	.post-sub-title,
	.post-meta-data {
		margin: 0 0 .2em;
		a {text-decoration: none;}
	}

	.post-title {
		text-align: center;
		color: $HighlightColor;
	}

	.post-sub-title {
		text-align: center;
		color: $LightCopy;
		font-weight: 300;
	}

	.post-meta-data {
		font-size: .8rem;
	}

	.post-content {
		margin-top: 2rem;
		font-size: .95em;
	}

	.instagram {
		width: 100%;
	}

	&.photos small {
		display: block;
		width: 100%;
		font-size: .8rem;
	}

	.more-link {
		background-color: $ActionColor;
		color: #ffffff !important;
		text-decoration: none;
		border-radius: 4px;
		white-space: nowrap;
		padding: 0px 3px;
		font-size: .7em;
		&:hover { text-decoration: none; }
	}

	.post-divider {
		margin: 4rem 0;
	}
}

/* POST LIST */
/* Addons and overrides of the general post styles
   for posts that are in a list */
.post-list .post {

	.post-title { font-size: 2.5em; }

	.post-sub-title { font-size: 1.1em; }

	.instagram {
		max-width: 320px;
		-webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
		-moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.75);
		box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.75);
	}

	&.photos small {
		max-width: 320px;
		margin: 0 auto;
		text-align: left;
	}

	&.photos .post-content,
	&.tweets .post-content {
		text-align: center;
	}
	.twitter-tweet {
		margin-left: auto !important;
		margin-right: auto !important;
	}
}

.archive h1 {
		text-align: center;
		font-size: 1rem;
}

.paging-navigation {
	margin-bottom: 2rem; 
	a {
		background-color: $ActionColor;
		color: #ffffff;
		border-radius: .25em;
		padding: .2em .6em .3em;
		font-size: .8em;
		text-decoration: none;

		&:hover {
			text-decoration: none;
			background-color: $HighlightColor;
		}
	}
}

/* SINGLE POST */
/* Addons and overrides of the general post styles
   for posts that are displayed as a single post on a page */
.single-post .post {

	.instagram {max-width: 640px;}

	.photos small { max-width: 640px; }


	.post-meta-data {
		span {
			display: inline-block;
			max-width: 64%;
		}
		span + span {
			float: right;
			margin-right: 10px;
		}
	}

}